@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('one piece.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        background: url('onepiece2.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

.tulip {
    width: 50px;
    height: 100px;
    background: url('tulip.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

.tulip.left {
    left: 10px;
}

.tulip.right {
    right: 10px;
}

.center-box {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.445);
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
}

@media only screen and (min-width: 769px) {
    .center-box {
        max-width: 600px;
    }
}

.center-box h1, .center-box p {
    font-family: 'Great Vibes', cursive;
}

.center-box h1 {
    font-size: 40px;
}

.center-box p {
    font-size: 28px;
}

.center-image {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
