body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('tulipanes.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.tulip {
    width: 50px;
    height: 100px;
    background: url('tulip.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

.tulip.left {
    left: 10px;
}

.tulip.right {
    right: 10px;
}

.center-box {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.445);
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
}

.center-box h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

.center-box p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.center-image {
    width: 100%;
    max-width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
